@page "/"

<div class="main">
    <section class="glass">
        <h1>Text</h1>
    </section>
</div>

<!--<div class="circle1"></div>

<section class="glass">
           Text
       </section>

<div class="circle2"></div>-->


<!--<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />-->
